:root {
  --primary-title-color: #fff;
  --secondary-title-color: #323232;
  --primary-text-color: #999;
  --secondary-text-color: #fff;
  --accent-color: #4985ff;
  --subtitle-color: #000000;
}
body {
  font-family: Montserrat, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid rgb(161, 161, 161, 0.5);
}
.header-link {
  display: block;
  padding: 40px 20px;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.47;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}
.header {
  background-color: #323232;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.hero {
  padding-top: 220px;
  padding-bottom: 335px;
  background-color: var(--secondary-title-color);
}
.hero-text {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 20px;
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-title-color);
  margin: 0 auto;
  margin-bottom: 50px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  height: 45px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hero-button {
  margin: 0 auto;
}
.button:hover,
.button:focus {
  background-color: transparent;
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.servises-title {
  color: var(--secondary-title-color);
  text-align: center;
}
.servises-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--subtitle-color);
}
.servises-list-text {
  font-size: 14px;
}
